matplotlib==2.2.4
torchvision==0.2.2
pandas==0.24.2
imageio==2.5.0
requests==2.21.0
tqdm==4.31.1
numpy==1.16.3
scipy==1.2.1
colored==1.3.93
opencv_python==4.1.0.25
dlib==19.17.0
Pillow==8.1.1
tensorboardX==1.6
PyYAML==5.1.1
